In [4]:
import os
import duckdb

from pathlib import Path

%load_ext sql

from dotenv import load_dotenv

load_dotenv()

DB_PATH = Path(os.getenv("SILVER_DUCKDB_PATH", ""))
DB_PATH.parent.mkdir(parents=True, exist_ok=True)

TMP_DIR = "/tmp/duckdb_tmp"  # make sure it exists

conn = duckdb.connect(DB_PATH)

conn.execute(f"SET temp_directory='{TMP_DIR}'")
conn.execute("SET memory_limit='50GB'")
conn.execute("SET threads=1")
conn.execute("SET preserve_insertion_order=false")

%sql conn --alias duck

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# Normalização de PKs

In [7]:
%%sql
CREATE TABLE blocos_camara_dedup AS
SELECT *
FROM (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY id_bloco ORDER BY year_snapshot DESC) AS rn
    FROM blocos_camara
)
WHERE rn = 1;

DROP TABLE blocos_camara;
ALTER TABLE blocos_camara_dedup RENAME TO blocos_camara;

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [8]:
%%sql
ALTER TABLE blocos_camara
    ALTER COLUMN id_bloco TYPE BIGINT;

ALTER TABLE blocos_camara
    ADD CONSTRAINT pk_blocos PRIMARY KEY (id_bloco);

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [9]:
%%sql
CREATE TABLE deputados_camara_dedup AS
SELECT *
FROM (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY id_deputado ORDER BY year_snapshot DESC) AS rn
    FROM deputados_camara
)
WHERE rn = 1;

DROP TABLE deputados_camara;
ALTER TABLE deputados_camara_dedup RENAME TO deputados_camara;

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [10]:
%%sql
ALTER TABLE deputados_camara
    ALTER COLUMN id_deputado TYPE BIGINT;

ALTER TABLE deputados_camara
    ADD CONSTRAINT pk_deputados PRIMARY KEY (id_deputado);

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [11]:
%%sql
CREATE TABLE eventos_camara_dedup AS
SELECT *
FROM (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY id_evento ORDER BY year_snapshot DESC) AS rn
    FROM eventos_camara
)
WHERE rn = 1;

DROP TABLE eventos_camara;
ALTER TABLE eventos_camara_dedup RENAME TO eventos_camara;

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [12]:
%%sql
ALTER TABLE eventos_camara
    ALTER COLUMN id_evento TYPE BIGINT;

ALTER TABLE eventos_camara
    ADD CONSTRAINT pk_eventos PRIMARY KEY (id_evento);

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [13]:
%%sql
CREATE TABLE frentes_camara_dedup AS
SELECT *
FROM (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY id_frente ORDER BY year_snapshot DESC) AS rn
    FROM frentes_camara
)
WHERE rn = 1;

DROP TABLE frentes_camara;
ALTER TABLE frentes_camara_dedup RENAME TO frentes_camara;

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [14]:
%%sql
ALTER TABLE frentes_camara
    ALTER COLUMN id_frente TYPE BIGINT;

ALTER TABLE frentes_camara
    ADD CONSTRAINT pk_frentes PRIMARY KEY (id_frente);

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [16]:
%%sql
CREATE TABLE legislaturas_camara_dedup AS
SELECT *
FROM (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY id_legislatura ORDER BY year_snapshot DESC) AS rn
    FROM legislaturas_camara
)
WHERE rn = 1;

DROP TABLE legislaturas_camara;
ALTER TABLE legislaturas_camara_dedup RENAME TO legislaturas_camara;

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [17]:
%%sql
ALTER TABLE legislaturas_camara
    ALTER COLUMN id_legislatura TYPE BIGINT;

ALTER TABLE legislaturas_camara
    ADD CONSTRAINT pk_legislaturas PRIMARY KEY (id_legislatura);

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [ ]:
%%sql
CREATE TABLE orgaos_camara_dedup AS
SELECT *
FROM (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY id_orgao ORDER BY year_snapshot DESC) AS rn
    FROM orgaos_camara
)
WHERE rn = 1;

DROP TABLE orgaos_camara;
ALTER TABLE orgaos_camara_dedup RENAME TO orgaos_camara;

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [ ]:
%%sql
ALTER TABLE orgaos_camara
    ALTER COLUMN id_orgao TYPE BIGINT;

ALTER TABLE orgaos_camara
    ADD CONSTRAINT pk_orgaos PRIMARY KEY (id_orgao);

Running query in 'duck'

RuntimeError: Catalog Error: an index with that name already exists for this table: PRIMARY_orgaos_camara_id_orgao

In [25]:


%%sql
CREATE TABLE partidos_camara_dedup AS
SELECT *
FROM (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY id_partido ORDER BY year_snapshot DESC) AS rn
    FROM partidos_camara
)
WHERE rn = 1;

DROP TABLE partidos_camara;
ALTER TABLE partidos_camara_dedup RENAME TO partidos_camara;

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [26]:
%%sql
ALTER TABLE partidos_camara
    ALTER COLUMN id_partido TYPE BIGINT;

ALTER TABLE partidos_camara
    ADD CONSTRAINT pk_partidos PRIMARY KEY (id_partido);

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [27]:
%%sql
ALTER TABLE proposicoes_camara
    ALTER COLUMN id_proposicao TYPE BIGINT;

ALTER TABLE proposicoes_camara
    ADD CONSTRAINT pk_proposicoes PRIMARY KEY (id_proposicao);

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [28]:
%%sql
ALTER TABLE temas_camara
    ALTER COLUMN id_tema TYPE BIGINT;

ALTER TABLE temas_camara
    ADD CONSTRAINT pk_temas PRIMARY KEY (id_tema);

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [29]:
%%sql
ALTER TABLE autores_camara
    ALTER COLUMN id_proposicao TYPE BIGINT;

ALTER TABLE autores_camara
    ALTER COLUMN ordem_assinatura TYPE INTEGER;

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [30]:
%%sql
ALTER TABLE autores_camara
    ADD CONSTRAINT pk_autores PRIMARY KEY (id_autor);

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [31]:
%%sql
ALTER TABLE orientacoes_camara
    ALTER COLUMN id_orientacao TYPE BIGINT;

ALTER TABLE orientacoes_camara
    ADD CONSTRAINT pk_orientacoes
    PRIMARY KEY (id_orientacao);

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [33]:
%%sql
ALTER TABLE tramitacoes_camara
    ALTER COLUMN id_tramitacao TYPE BIGINT;

ALTER TABLE tramitacoes_camara
    ADD CONSTRAINT pk_tramitacoes
    PRIMARY KEY (id_tramitacao);

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [35]:
%%sql
CREATE TABLE votacoes_camara_dedup AS
SELECT *
FROM (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY id_votacao ORDER BY year_snapshot DESC) AS rn
    FROM votacoes_camara
)
WHERE rn = 1;

DROP TABLE votacoes_camara;
ALTER TABLE votacoes_camara_dedup RENAME TO votacoes_camara;

ALTER TABLE votacoes_camara
    ALTER COLUMN id_votacao TYPE TEXT;

ALTER TABLE votacoes_camara
    ADD CONSTRAINT pk_votacoes
    PRIMARY KEY (id_votacao);

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [36]:
%%sql
ALTER TABLE blocos_partidos_camara
    ALTER COLUMN id_bloco_partido TYPE BIGINT;

ALTER TABLE blocos_partidos_camara
    ADD CONSTRAINT pk_bloco_partido
    PRIMARY KEY (id_bloco_partido);

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [37]:
%%sql
ALTER TABLE deputados_frentes_camara
    ALTER COLUMN id_deputado_frente TYPE BIGINT;

ALTER TABLE deputados_frentes_camara
    ADD CONSTRAINT pk_deputado_frente
    PRIMARY KEY (id_deputado_frente);

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [38]:
%%sql
ALTER TABLE deputados_historico_camara
    ALTER COLUMN id_deputado_historico TYPE BIGINT;

ALTER TABLE deputados_historico_camara
    ADD CONSTRAINT pk_deputado_historico
    PRIMARY KEY (id_deputado_historico);

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [39]:
%%sql
ALTER TABLE deputados_orgaos_camara
    ALTER COLUMN id_deputado_orgao TYPE BIGINT;

ALTER TABLE deputados_orgaos_camara
    ADD CONSTRAINT pk_deputado_orgao
    PRIMARY KEY (id_deputado_orgao);

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [40]:
%%sql
ALTER TABLE eventos_orgaos_camara
    ALTER COLUMN id_evento_orgao TYPE BIGINT;

ALTER TABLE eventos_orgaos_camara
    ADD CONSTRAINT pk_evento_orgao
    PRIMARY KEY (id_evento_orgao);

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [41]:
%%sql
ALTER TABLE partidos_lideres_camara
    ALTER COLUMN id_partido_lider TYPE BIGINT;

ALTER TABLE partidos_lideres_camara
    ADD CONSTRAINT pk_partido_lider
    PRIMARY KEY (id_partido_lider);

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

In [42]:
%%sql
ALTER TABLE partidos_membros_camara
    ALTER COLUMN id_partido_membro TYPE BIGINT;

ALTER TABLE partidos_membros_camara
    ADD CONSTRAINT pk_partido_membro
    PRIMARY KEY (id_partido_membro);

Running query in 'duck'

+---------+
| Success |
+---------+
+---------+

# Deduplicação de tabelas relacionais

In [43]:
%%sql
SELECT a.*
FROM orientacoes_camara a
JOIN (
    SELECT sigla_partido_bloco, id_votacao
    FROM orientacoes_camara
    GROUP BY sigla_partido_bloco, id_votacao
    HAVING COUNT(*) > 1
) dups
ON  a.sigla_partido_bloco = dups.sigla_partido_bloco
AND a.id_votacao = dups.id_votacao
ORDER BY a.id_votacao, a.sigla_partido_bloco;

Running query in 'duck'

+---------------+------------+---------------------+-----------------+-------------------+--------------------+-------------------------------------------------------------------------------------------------------------------------------+---------------+
| id_orientacao | id_votacao | sigla_partido_bloco | orientacao_voto | cod_partido_bloco | cod_tipo_lideranca |                                                       uri_partido_bloco                                                       | year_snapshot |
+---------------+------------+---------------------+-----------------+-------------------+--------------------+-------------------------------------------------------------------------------------------------------------------------------+---------------+
|     40598     | 2322436-12 |        AVANTE       |       Sim       |       36898       |         P          | <a href=https://dadosabertos.camara.leg.br/api/v2/partidos/36898>https://dadosabertos.camara.leg.br/api/v2/partidos/36898</a> |      2021     |
|     47965     | 2322436-12 |        AVANTE       |       Sim       |       36898       |         P          | <a href=https://dadosabertos.camara.leg.br/api/v2/partidos/36898>https://dadosabertos.camara.leg.br/api/v2/partidos/36898</a> |      2022     |
|     48244     | 2322436-12 |      CIDADANIA      |       Sim       |       37905       |         P          | <a href=https://dadosabertos.camara.leg.br/api/v2/partidos/37905>https://dadosabertos.camara.leg.br/api/v2/partidos/37905</a> |      2022     |
|     40914     | 2322436-12 |      CIDADANIA      |       Sim       |       37905       |         P          | <a href=https://dadosabertos.camara.leg.br/api/v2/partidos/37905>https://dadosabertos.camara.leg.br/api/v2/partidos/37905</a> |      2021     |
|     49055     | 2322436-12 |       Governo       |                 |        None       |         B          |                                                              None                                                             |      2022     |
|     41857     | 2322436-12 |       Governo       |                 |        None       |         B          |                                                              None                                                             |      2021     |
|     41229     | 2322436-12 |         MDB         |       Sim       |       36899       |         P          | <a href=https://dadosabertos.camara.leg.br/api/v2/partidos/36899>https://dadosabertos.camara.leg.br/api/v2/partidos/36899</a> |      2021     |
|     48518     | 2322436-12 |         MDB         |       Sim       |       36899       |         P          | <a href=https://dadosabertos.camara.leg.br/api/v2/partidos/36899>https://dadosabertos.camara.leg.br/api/v2/partidos/36899</a> |      2022     |
|     38682     | 2322436-12 |       Maioria       |       Sim       |        None       |         B          |                                                              None                                                             |      2021     |
|     46116     | 2322436-12 |       Maioria       |       Sim       |        None       |         B          |                                                              None                                                             |      2022     |
+---------------+------------+---------------------+-----------------+-------------------+--------------------+-------------------------------------------------------------------------------------------------------------------------------+---------------+
Truncated to displaylimit of 10.

In [44]:
%%sql
SELECT SUM(c) AS total_duplicadas
FROM (
    SELECT COUNT(*) - 1 AS c
    FROM orientacoes_camara
    GROUP BY id_votacao, sigla_partido_bloco
    HAVING COUNT(*) > 1
) t;

Running query in 'duck'

+------------------+
| total_duplicadas |
+------------------+
|        27        |
+------------------+

In [45]:
%%sql
SELECT COUNT(*) FROM orientacoes_camara;

Running query in 'duck'

+--------------+
| count_star() |
+--------------+
|    59769     |
+--------------+

In [46]:
%%sql
DELETE FROM orientacoes_camara
WHERE rowid IN (
    SELECT rowid
    FROM (
        SELECT 
            rowid,
            ROW_NUMBER() OVER (
                PARTITION BY id_votacao, sigla_partido_bloco 
                ORDER BY rowid
            ) AS rn
        FROM orientacoes_camara
    ) t
    WHERE rn > 1
);

Running query in 'duck'

+-------+
| Count |
+-------+
|   27  |
+-------+

In [47]:
%%sql
SELECT COUNT(*) FROM orientacoes_camara;

Running query in 'duck'

+--------------+
| count_star() |
+--------------+
|    59742     |
+--------------+

In [48]:
%%sql
SELECT a.*
FROM tramitacoes_camara a
JOIN (
    SELECT id_proposicao, despacho, sequencia
    FROM tramitacoes_camara
    GROUP BY id_proposicao, despacho, sequencia
    HAVING COUNT(*) > 1
) dups
ON  a.id_proposicao = dups.id_proposicao
AND a.sequencia = dups.sequencia
AND a.despacho = dups.despacho
ORDER BY a.id_proposicao, a.sequencia, a.despacho;

Running query in 'duck'

+---------------+---------------+------------+-------------------------------------------------------------------------+--------------+---------------------+---------------------+-------------------------------------------+------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------+-----------+-------------+-----------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------+---------------+
| id_tramitacao | id_proposicao |   ambito   |                                apreciacao                               | cod_situacao | cod_tipo_tramitacao |      data_hora      |             descricao_situacao            |     descricao_tramitacao     |                                                                                          despacho                                                                                          |              regime             | sequencia | sigla_orgao |                                                       uri_orgao                                                       |                                                        uri_ultimo_relator                                                       | year_snapshot |
+---------------+---------------+------------+-------------------------------------------------------------------------+--------------+---------------------+---------------------+-------------------------------------------+------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------+-----------+-------------+-----------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------+---------------+
|     769040    |     15508     | Regimental | Proposição Sujeita à Apreciação Conclusiva pelas Comissões - Art. 24 II |     923      |         504         | 2012-04-02 11:11:00 |                 Arquivada                 |   Notificação de Apensação   |                                                                           Apense-se a este(a) o(a) PL-3440/2012.                                                                           | Ordinário (Art. 151, III, RICD) |    112    |     MESA    |   <a href=https://dadosabertos.camara.leg.br/api/v2/orgaos/4>https://dadosabertos.camara.leg.br/api/v2/orgaos/4</a>   | <a href=https://dadosabertos.camara.leg.br/api/v2/deputados/74039>https://dadosabertos.camara.leg.br/api/v2/deputados/74039</a> |      2024     |
|     769097    |     15508     | Regimental | Proposição Sujeita à Apreciação Conclusiva pelas Comissões - Art. 24 II |     923      |         504         | 2012-04-02 11:08:00 |                 Arquivada                 |   Notificação de Apensação   |                                                                           Apense-se a este(a) o(a) PL-3440/2012.                                                                           | Ordinário (Art. 151, III, RICD) |    112    |     MESA    |   <a href=https://dadosabertos.camara.leg.br/api/v2/orgaos/4>https://dadosabertos.camara.leg.br/api/v2/orgaos/4</a>   | <a href=https://dadosabertos.camara.leg.br/api/v2/deputados/74039>https://dadosabertos.camara.leg.br/api/v2/deputados/74039</a> |      2024     |
|     584271    |     47622     | Regimental |               Proposição Sujeita à Apreciação do Plenário               |     None     |          5          | 2015-03-30 18:46:00 |                    None                   |        Não Informado         |                                                                  Matéria não apreciada em face do encerramento da Sessão.                                                                  |    Urgência (Art. 155, RICD)    |     16    |     PLEN    | <a href=https://dadosabertos.camara.leg.br/api/v2/orgaos/180>https://dadosabertos.camara.leg.br/api/v2/orgaos/180</a> |                                                               None                                                              |      2023     |
|     586099    |     47622     | Regimental |               Proposição Sujeita à Apreciação do Plenário               |     None     |          5          | 2015-03-26 09:00:00 |                    None                   |        Não Informado         |                                                                  Matéria não apreciada em face do encerramento da Sessão.                                                                  |    Urgência (Art. 155, RICD)    |     16    |     PLEN    | <a href=https://dadosabertos.camara.leg.br/api/v2/orgaos/180>https://dadosabertos.camara.leg.br/api/v2/orgaos/180</a> |                                                               None                                                              |      2023     |
|     67160     |     332450    | Regimental |               Proposição Sujeita à Apreciação do Plenário               |     902      |         100         | 2006-08-09 17:25:00 | Aguardando Criação de Comissão Temporária |  Apresentação de Proposição  |  Apresentação do PL 7419/2006, do Senado Federal - Luiz Pontes, que "altera a Lei nº 9.656, de 3 de junho de 1998, que dispõe sobre os planos e seguros privados de assistência à saúde."  |    Urgência (Art. 155, RICD)    |     1     |     PLEN    | <a href=https://dadosabertos.camara.leg.br/api/v2/orgaos/180>https://dadosabertos.camara.leg.br/api/v2/orgaos/180</a> |                                                               None                                                              |      2020     |
|     67157     |     332450    | Regimental |               Proposição Sujeita à Apreciação do Plenário               |     924      |         100         | 2006-08-09 17:25:00 |             Pronta para Pauta             |  Apresentação de Proposição  |  Apresentação do PL 7419/2006, do Senado Federal - Luiz Pontes, que "altera a Lei nº 9.656, de 3 de junho de 1998, que dispõe sobre os planos e seguros privados de assistência à saúde."  |    Urgência (Art. 155, RICD)    |     1     |     PLEN    | <a href=https://dadosabertos.camara.leg.br/api/v2/orgaos/180>https://dadosabertos.camara.leg.br/api/v2/orgaos/180</a> |                                                               None                                                              |      2020     |
|     67067     |     332450    | Regimental |               Proposição Sujeita à Apreciação do Plenário               |     902      |         194         | 2011-10-04 00:00:00 | Aguardando Criação de Comissão Temporária | Apresentação de Requerimento | Apresentação do Requerimento de Apensação n. 3395/2011, pelo Deputado Bruno Araújo (PSDB-PE), que: "Requer a apensação do Projeto de Lei 7419, de 2006, ao Projeto de Lei 4076, de 2001".  |    Urgência (Art. 155, RICD)    |     40    |     PLEN    | <a href=https://dadosabertos.camara.leg.br/api/v2/orgaos/180>https://dadosabertos.camara.leg.br/api/v2/orgaos/180</a> | <a href=https://dadosabertos.camara.leg.br/api/v2/deputados/74173>https://dadosabertos.camara.leg.br/api/v2/deputados/74173</a> |      2020     |
|     67062     |     332450    | Regimental |               Proposição Sujeita à Apreciação do Plenário               |     924      |         194         | 2011-10-04 00:00:00 |             Pronta para Pauta             | Apresentação de Requerimento | Apresentação do Requerimento de Apensação n. 3395/2011, pelo Deputado Bruno Araújo (PSDB-PE), que: "Requer a apensação do Projeto de Lei 7419, de 2006, ao Projeto de Lei 4076, de 2001".  |    Urgência (Art. 155, RICD)    |     40    |     PLEN    | <a href=https://dadosabertos.camara.leg.br/api/v2/orgaos/180>https://dadosabertos.camara.leg.br/api/v2/orgaos/180</a> | <a href=https://dadosabertos.camara.leg.br/api/v2/deputados/74173>https://dadosabertos.camara.leg.br/api/v2/deputados/74173</a> |      2020     |
|     67057     |     332450    | Regimental |               Proposição Sujeita à Apreciação do Plenário               |     902      |         194         | 2011-10-04 00:00:00 | Aguardando Criação de Comissão Temporária | Apresentação de Requerimento | Apresentação do Requerimento de Apensação n. 3397/2011, pelo Deputado Bruno Araújo (PSDB-PE), que: "Requer a apensação do Projeto de Lei 7419, de 2006, ao Projeto de Lei 4076, de 2001.". |    Urgência (Art. 155, RICD)    |     41    |     PLEN    | <a href=https://dadosabertos.camara.leg.br/api/v2/orgaos/180>https://dadosabertos.camara.leg.br/api/v2/orgaos/180</a> | <a href=https://dadosabertos.camara.leg.br/api/v2/deputados/74173>https://dadosabertos.camara.leg.br/api/v2/deputados/74173</a> |      2020     |
|     67052     |     332450    | Regimental |               Proposição Sujeita à Apreciação do Plenário               |     924      |         194         | 2011-10-04 00:00:00 |             Pronta para Pauta             | Apresentação de Requerimento | Apresentação do Requerimento de Apensação n. 3397/2011, pelo Deputado Bruno Araújo (PSDB-PE), que: "Requer a apensação do Projeto de Lei 7419, de 2006, ao Projeto de Lei 4076, de 2001.". |    Urgência (Art. 155, RICD)    |     41    |     PLEN    | <a href=https://dadosabertos.camara.leg.br/api/v2/orgaos/180>https://dadosabertos.camara.leg.br/api/v2/orgaos/180</a> | <a href=https://dadosabertos.camara.leg.br/api/v2/deputados/74173>https://dadosabertos.camara.leg.br/api/v2/deputados/74173</a> |      2020     |
+---------------+---------------+------------+-------------------------------------------------------------------------+--------------+---------------------+---------------------+-------------------------------------------+------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------+-----------+-------------+-----------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------+---------------+
Truncated to displaylimit of 10.

In [49]:
%%sql
SELECT SUM(c) AS total_duplicadas
FROM (
    SELECT COUNT(*) - 1 AS c
    FROM tramitacoes_camara
    GROUP BY id_proposicao, despacho, sequencia
    HAVING COUNT(*) > 1
) t;

Running query in 'duck'

+------------------+
| total_duplicadas |
+------------------+
|       762        |
+------------------+

In [50]:
%%sql
DELETE FROM tramitacoes_camara
WHERE rowid IN (
    SELECT rowid
    FROM (
        SELECT 
            rowid,
            ROW_NUMBER() OVER (
                PARTITION BY id_proposicao, despacho, sequencia 
                ORDER BY rowid
            ) AS rn
        FROM tramitacoes_camara
    ) t
    WHERE rn > 1
);

Running query in 'duck'

+-------+
| Count |
+-------+
|  762  |
+-------+

In [51]:
%%sql
SELECT a.*
FROM votos_camara a
JOIN (
    SELECT id_votacao, id_deputado, data_hora
    FROM votos_camara
    GROUP BY id_votacao, id_deputado, data_hora
    HAVING COUNT(*) > 1
) dups
ON  a.id_deputado = dups.id_deputado
AND a.id_votacao = dups.id_votacao
AND a.data_hora = dups.data_hora
ORDER BY a.id_deputado, a.id_votacao;

Running query in 'duck'

+---------+------------+-------------+-----------+---------------------+---------------+
| id_voto | id_votacao | id_deputado | tipo_voto |      data_hora      | year_snapshot |
+---------+------------+-------------+-----------+---------------------+---------------+
|  719568 | 2322436-12 |    68720    |    Sim    | 2022-05-24 20:46:51 |      2021     |
|  719569 | 2322436-12 |    68720    |    Sim    | 2022-05-24 20:46:51 |      2022     |
|  719570 | 2322436-12 |    69871    |    Sim    | 2022-05-24 20:45:44 |      2021     |
|  719571 | 2322436-12 |    69871    |    Sim    | 2022-05-24 20:45:44 |      2022     |
|  719572 | 2322436-12 |    72442    |    Sim    | 2022-05-24 20:46:25 |      2021     |
|  719573 | 2322436-12 |    72442    |    Sim    | 2022-05-24 20:46:25 |      2022     |
|  719574 | 2322436-12 |    73433    |    Sim    | 2022-05-24 20:46:34 |      2021     |
|  719575 | 2322436-12 |    73433    |    Sim    | 2022-05-24 20:46:34 |      2022     |
|  719576 | 2322436-12 |    73441    |    Sim    | 2022-05-24 20:46:57 |      2021     |
|  719577 | 2322436-12 |    73441    |    Sim    | 2022-05-24 20:46:57 |      2022     |
+---------+------------+-------------+-----------+---------------------+---------------+
Truncated to displaylimit of 10.

In [52]:
%%sql
SELECT SUM(c) AS total_duplicadas
FROM (
    SELECT COUNT(*) - 1 AS c
    FROM votos_camara
    GROUP BY id_votacao, id_deputado, data_hora
    HAVING COUNT(*) > 1
) t;

Running query in 'duck'

+------------------+
| total_duplicadas |
+------------------+
|       380        |
+------------------+

In [53]:
%%sql
DELETE FROM votos_camara
WHERE rowid IN (
    SELECT rowid
    FROM (
        SELECT 
            rowid,
            ROW_NUMBER() OVER (
                PARTITION BY id_votacao, id_deputado, data_hora
                ORDER BY rowid
            ) AS rn
        FROM votos_camara
    ) t
    WHERE rn > 1
);

Running query in 'duck'

+-------+
| Count |
+-------+
|  380  |
+-------+

In [54]:
%%sql
SELECT a.*
FROM deputados_frentes_camara a
JOIN (
    SELECT id_deputado, id_frente
    FROM deputados_frentes_camara
    GROUP BY id_deputado, id_frente
    HAVING COUNT(*) > 1
) dups
ON  a.id_deputado = dups.id_deputado
AND a.id_frente = dups.id_frente
ORDER BY a.id_deputado, a.id_frente;

Running query in 'duck'

+--------------------+-------------+-----------+---------------+
| id_deputado_frente | id_deputado | id_frente | year_snapshot |
+--------------------+-------------+-----------+---------------+
|        1449        |    74141    |    350    |      2020     |
|        1939        |    74141    |    350    |      2021     |
|        522         |    74141    |    351    |      2021     |
|         28         |    74141    |    351    |      2020     |
|        747         |    74141    |    353    |      2020     |
|        1238        |    74141    |    353    |      2021     |
|        3524        |    74141    |    354    |      2020     |
|        4009        |    74141    |    354    |      2021     |
|        2837        |    74141    |    355    |      2020     |
|        3324        |    74141    |    355    |      2021     |
+--------------------+-------------+-----------+---------------+
Truncated to displaylimit of 10.

In [55]:
%%sql
SELECT SUM(c) AS total_duplicadas
FROM (
    SELECT COUNT(*) - 1 AS c
    FROM deputados_frentes_camara
    GROUP BY id_deputado, id_frente
    HAVING COUNT(*) > 1
) t;

Running query in 'duck'

+------------------+
| total_duplicadas |
+------------------+
|       3299       |
+------------------+

In [56]:
%%sql
DELETE FROM deputados_frentes_camara
WHERE rowid IN (
    SELECT rowid
    FROM (
        SELECT 
            rowid,
            ROW_NUMBER() OVER (
                PARTITION BY id_deputado, id_frente
                ORDER BY rowid
            ) AS rn
        FROM deputados_frentes_camara
    ) t
    WHERE rn > 1
);

Running query in 'duck'

+-------+
| Count |
+-------+
|  3299 |
+-------+

In [57]:
%%sql
SELECT a.*
FROM eventos_pauta_camara a
JOIN (
    SELECT id_evento, ordem
    FROM eventos_pauta_camara
    GROUP BY id_evento, ordem
    HAVING COUNT(*) > 1
) dups
ON  a.id_evento = dups.id_evento
AND a.ordem = dups.ordem
ORDER BY a.id_evento, a.ordem;

Running query in 'duck'

+----------+-----------+------------+-------+---------------+------------+---------------+
| id_pauta | id_evento | cod_regime | ordem | id_proposicao | id_relator | year_snapshot |
+----------+-----------+------------+-------+---------------+------------+---------------+
|    80    |   59265   |    21.0    |   14  |    2236343    |   164360   |      2020     |
|    81    |   59265   |    21.0    |   14  |    2236343    |   164360   |      2020     |
|    82    |   59265   |    21.0    |   14  |    2236343    |   164360   |      2020     |
|    90    |   59275   |    15.0    |   1   |    2236326    |   204556   |      2020     |
|    91    |   59275   |    15.0    |   1   |    2236326    |   204556   |      2020     |
|   115    |   59290   |   100.0    |   12  |    2222884    |    None    |      2020     |
|   116    |   59290   |   100.0    |   12  |    2222884    |    None    |      2020     |
|   117    |   59290   |   100.0    |   12  |    2222884    |    None    |      2020     |
|   118    |   59290   |   100.0    |   12  |    2222884    |    None    |      2020     |
|   121    |   59298   |   100.0    |   1   |    2222884    |    None    |      2020     |
+----------+-----------+------------+-------+---------------+------------+---------------+
Truncated to displaylimit of 10.

In [58]:
%%sql
SELECT SUM(c) AS total_duplicadas
FROM (
    SELECT COUNT(*) - 1 AS c
    FROM eventos_pauta_camara
    GROUP BY id_evento, ordem, id_proposicao
    HAVING COUNT(*) > 1
) t;

Running query in 'duck'

+------------------+
| total_duplicadas |
+------------------+
|       4060       |
+------------------+

In [59]:
%%sql
DELETE FROM eventos_pauta_camara
WHERE rowid IN (
    SELECT rowid
    FROM (
        SELECT 
            rowid,
            ROW_NUMBER() OVER (
                PARTITION BY id_evento, ordem, id_proposicao
                ORDER BY rowid
            ) AS rn
        FROM eventos_pauta_camara
    ) t
    WHERE rn > 1
);

Running query in 'duck'

+-------+
| Count |
+-------+
|  4060 |
+-------+